.thumb{
    background-color: #bdbdbd !important;
}
.backgroundCard{
    background-color: #fff3e0 !important;
    max-width: 1600px;
}
.containerPost{
    justify-content: center;
    align-content: center;
    display: grid;
}